@use "mixins" as m;

.modal-buttons {

	@include m.responsive(small) {
		flex-direction: column;
		align-items: stretch;
	}

	display: flex;
	justify-content: flex-end;
	margin-top: 30px;

	svg {
		margin-top: 5px;
	}

	.is-primary {
		margin-right: 5px;
		box-shadow: none;
	}

	.is-secondary {
		box-shadow: none;
	}
}
