name: Trigger Satis Build

on:
  release:
    types:
      - created

env:
  VERSION: ${GITHUB_REF#refs/tags/*}

jobs:
  webhook:
    name: Send Webhook
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Validate version number
        if: ${{ (github.repository == 'newfold-labs/wp-module-coming-soon') && (github.event.release.prerelease == false) }}
        run: |
          taggedVersion=${{ env.VERSION }}
          moduleVersion=`grep "define( 'NFD_COMING_SOON_MODULE_VERSION'," bootstrap.php | grep -Eo "[0-9\.]*"`
          packageVersion=`grep '"version"' package.json | grep -Eo "[0-9\.]*"`
          echo "Tagged version: $taggedVersion"
          echo "Module version: $moduleVersion"
          echo "Package version: $packageVersion"
          [[ "$taggedVersion" == "$moduleVersion" ]] || exit 1
          [[ "$taggedVersion" == "$packageVersion" ]] || exit 1

      - name: Set Package
        id: package
        env:
          REPO: ${{ github.repository }}
        run: echo "PACKAGE=${REPO##*/}" >> $GITHUB_OUTPUT

      - name: Set Version
        id: tag
        run: echo "VERSION=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.WEBHOOK_TOKEN }}
          repository: newfold-labs/satis
          event-type: 'satis-build'
          client-payload: >-
            {
              "vendor": "${{ github.repository_owner }}",
              "package": "${{ steps.package.outputs.PACKAGE }}",
              "version": "${{ steps.tag.outputs.VERSION }}"
            }